h1 {
    font-size: 60px;
    color: #6e492f;
}

nav a {
    font-size: 50px;
    color: #6e492f;
}
h2 {
    color: #6e492f;
}
h3 {
    font-size:x-large;
    color: #6e492f;
}
a{
    font-size: 25px;
    color: #6e492f;
}